.pictureContainer {
  float: left;
  width: 100px;
  height: auto;
  margin-right: 1em;
}

.feed {
  overflow: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.lastSameTopic {
  margin-top: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.nextSameTopic {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.pictureContainer .thumb {
  width: 100%;
  cursor: pointer;
}

.content {
  margin-top: 1em;
}

.feed-well {
  border-color: #fff;
}

.time-posted {
  width: 120px;
  text-align: center;
  background-color: #DDD;
  position: relative;
  right: -10px;
  top: -19px;
  float: right;
  padding-left: 10px;
  padding-right: 10px;
  border-top-width: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-color: #adadad;
  border-width: 0px 1px 1px 1px;
}

.change-buttons {
  position: relative;
  top: 12px;
  right: -138px;
}
