.pictureContainer {
  float: left;
  width: 100px;
  height: auto;
  margin-right: 1em;
}

.feed {
  overflow: auto;
  margin-bottom: 0px;
  margin-top: 20px;
}

.sameTopicContainer {
  margin-top: 0px;
}

.pictureContainer .thumb {
  width: 100%;
  cursor: pointer;
}

.content {
  margin-top: 1em;
}
