<div class="well feed-well feed" ng-class="{nextSameTopic : message.nextSameTopic, lastSameTopic: message.lastSameTopic}" ng-show="message.change !== true"
    style="background-color: {{message.topic.color}}" id="{{message._id}}" ng-mouseenter="showEdit = true" ng-mouseleave="showEdit = fals">
  <div class="time-posted">
    {{::messageController.postedTimeAgo(message)}}
  </div>
  <div class="float-right change-buttons" ng-show="messageController.isPublisher() && showEdit">
    <button class="btn btn-link glyphicon glyphicon-pencil" ng-click="message.change = true"></button>
    <button class="btn btn-link glyphicon glyphicon-trash" ng-click="messageController.deleteMessage(message)"></button>
  </div>
  <div class="topic" ng-hide="message.lastSameTopic">
    <h4>{{ message.topic.name }}</h4>
  </div>
  <b>{{ message.headline }}</b>
  <div class="content">
    <div class="pictureContainer">
      <img ng-show="message.picture" ng-src="{{message.picture}}" class="thumb" alt="Feed picture" ng-click="messageController.openModal(message.picture)"/>
    </div>
    {{ message.text }}

  </div>
</div>
<div ng-if="message.change === true">
  <message-input message-data="message" submit-button-text="Change message" submit-function="messageController.changeMessage(message, image)">
    <button type="button" class="btn btn-danger" name="cancelChange" ng-click="message.change = false">Drop Change</button>
  </message-input>
</div>
