<div class="well feed" ng-show="message.change !== true">
  <div class="topic">
    <h4>{{ message.belongsToName }}</h4>
  </div>
  <b>{{ message.headline }}</b>
  ({{ message.timePublished | date: 'd.M.yyyy H:mm'}}):
  <div class="content">
    <div class="pictureContainer">
      <img ng-show="message.picture" ng-src="{{message.picture}}" class="thumb" alt="Feed picture" ng-click="messageController.openModal(message.picture)"/>
    </div>
    {{ message.text }}
    <div class="float-right" ng-show="messageController.isPublisher()">
      <button class="btn glyphicon glyphicon-pencil" ng-click="message.change = true"></button>
      <button class="btn btn-danger glyphicon glyphicon-remove" ng-click="messageController.deleteMessage(message)"></button>
    </div>
  </div>
</div>
<div ng-if="message.change === true">
  <message-input message-data="message" submit-button-text="Change message" submit-function="messageController.changeMessage(message, image); message.change = false;">
    <button type="button" class="btn btn-danger" name="cancelChange" ng-click="message.change = false">Drop Change</button>
  </message-input>
</div>
