.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100% !important;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}
.drop-box:hover {
    border: 5px dashed #66A3E0;
}

.messageText {
  margin-top: 1em;
}

.inputThumb {
  width: 100px;
  height: 100px;
  margin-top: 1em;
}

.right {
  padding-right: 0%;
}

.left {
  padding-left: 0%;
}

.btn {
  margin-left: 12px;
}

.active {
  @extend .btn-info;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.messageForm-submit {
  margin-top: 10px;
}

.flex-topic {
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 10px;
}

.message-form-group {
  @extend .form-group;
  margin-bottom: 0px;
}

.help-block {
  margin-bottom: 5px;
}

.glyph-without-label {
  top: 0px;
}
