.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100% !important;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}
.drop-box:hover {
    border: 5px dashed #66A3E0;
}

.messageText {
  margin-top: 1em;
}
