.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100% !important;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}
.drop-box:hover {
    border: 5px dashed #66A3E0;
}

.messageText {
  margin-top: 1em;
}

.thumb-container {
  height: 6em;

  .imgThumb {
    display: block;
    max-width:100%;
    max-height:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
  }

  .remove {
    position: absolute;
    top: 5em;
    right: 6px;
  }

}

.right {
  padding-right: 0%;
}

.left {
  padding-left: 0%;
}

.btn-right-container {
   .btn {
     margin-left: 8px;
     float: right;
   }
}

.active {
  @extend .btn-info;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.messageForm-submit {
  margin-top: 10px;
}

.flex-topic {
  align-self: flex-start;
  margin-left: 0px;
  margin-bottom: 10px;
}

.message-form-group {
  @extend .form-group;
  margin-bottom: 0px;
}

.help-block {
  margin-bottom: 5px;
}

.glyph-without-label {
  top: 0px;
}
