.topic-active-switch {
  float: right;
}

.topic-item {
  float: left;
}

.topic-list-item {
  overflow: hidden;
}

.topic-input {
  float: left;
  width: auto;
}

.topic-input-button {
  float: left;
}
