.topic-active-switch {
  float: right;
}

.topic-item {
  float: left;
}

.topic-list-item {
  overflow: hidden;

  strong {
    line-height: 2em;
  }
}


.topic-input {
  float: left;
  width: auto;
}

.modal-body {
  overflow-y: hidden;
}



.topic-input-button {
  float: left;
}

.topic-add-button {
  display: inline-block;
  float: right;
}

.btn-open-add-topic {
  margin-left: 0px;
}
