<div class="topic-selection" top-position="scroll">
  <h3 class="h3">Topics</h3>
  <div class="flex-container">
    <button ng-repeat="topic in main.topics | orderBy: 'name' track by topic._id" type="button" name="topic" class="btn btn-primary-outline flex-topic"
    style="background-color: {{topic.color}}" ng-class="{'unselected-topic': !topic.selected}" ng-click="main.toggleTopic(topic)">{{ topic.name }}</button>
  </div>
</div>

<div class="feed-container">
  <h2 class="h2">Current Feed</h2>

  <div infinite-scroll="main.loadMoreMessages()">
    <div ng-repeat="feedMessage in main.messages track by $index">
      <message message-data="feedMessage"></message>
    </div>
  </div>

  <div ng-hide="main.messages.length > 0">
    <h3>No feeds published.</h3>
  </div>
</div>
