.float-right {
  float: right;
}

.clear {
  clear: both;
}

.left {
  padding-left: 0%;
}

.right {
  padding-right: 0%;
}

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 1em;
}
