.align-right {
  float: right;
}

.drop-box {
  float: left;
  display: table-cell;
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 10%;
    height: 10%;
    text-align: center;
    vertical-align: middle;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.tile {
  background-color: #ecf0f1;
  margin: 10px 0;
}

textarea {
  width: 80% !important;
  margin: 10px;
}
