<form>

  <label>Publish a new message:</label>
  <input class="form-control" ng-model="publisher.newMessage.belongsTo" placeholder="Message belongs to." type="text">

  <div ngf-drop ngf-select ng-model="publisher.picFile" class="drop-box"
    ngf-drag-over-class="dragover" ngf-multiple="false" ngf-allow-dir="false"
    accept="image/*" ngf-pattern="'image/*'">Drop images here or click to upload</div>
  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>

  <textarea class="form-control" ng-model="publisher.newMessage.text" placeholder="Text for the message." rows="3"></textarea>

  <span class="btn">
    <button class="btn btn-primary" ng-click="publisher.publishMessage()" type="submit">Publish message</button>
  </span>
</form>

<div ng-repeat="message in publisher.messages track by $index">
  <div class="well" ng-show="change !== true">
    <b>{{ message.belongsTo}}</b>
    ({{ message.timePublished }}):
    <br>
    {{ message.text }}
    <button class="glyphicon glyphicon-pencil align-right" ng-click="change = true"></button>
    <button class="glyphicon glyphicon-remove align-right" ng-click="change = true"></button>
  </div>

  <div ng-show="change === true">
    <input class="form-control" ng-model="message.belongsTo" placeholder="Message belongs to." type="text">
    <input class="form-control" ng-model="message.text" placeholder="Text for the message." type="text">
    <button class="btn" ng-click="publisher.changeMessage(message); change = false">Save changed Message</button>
  </div>
</div>

<form enctype="multipart/form-data" name="newPost">


<!--  <img class="thumb" ng-show="newPost.file.$valid" ngf-thumbnail="publisher.picFile">

  <input accept="image/*" name="file" ng-model="publisher.picFile" ngf-max-size="2MB" ngf-select required type="file">-->

  <button ng-click="publisher.picFile = null" ng-show="publisher.picFile">Remove</button>
  <button class="btn" ng-click="publisher.imageUpload()" type="submit">Upload Image</button>
</form>
<img alt="" src="uploads/test.jpg"/>
