.align-right {
  float: right;
}

.drop-box {
    background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 100% !important;
    height: 6em;
    text-align: center;
    vertical-align: middle;
    margin-top: 1em;
}
.dragover {
    border: 5px dashed blue;
}

.left {
  padding-left: 0%;
}

.right {
  padding-right: 0%;
}

.thumb {
    width: 100px;
    height: 100px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.tile {
  background-color: #ecf0f1;
  margin: 10px 0;
}

.messageText {
  margin-top: 1em;
}

.absolute-wrapper {
  position: relative;
}

.green {
  background: green;
}

.blue {
  background: blue;
}
